/*
The breakpoints are:
small: >= 0px
medium: >= 690px
large: >= 984px
*/

:root {
  --primary-color: #330f33;
  --secondary-color: #cd002f;
  --dark-mode-bg-color: #121624;
}

/* resets, source: https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Material Icons */
@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  src: url("../fonts/material-symbols/material-symbols.woff2") format("woff2");
}

.material-symbols {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

/* poppins-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins/poppins-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-300italic - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/poppins/poppins-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700italic - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body.dark-mode {
  background-color: var(--dark-mode-bg-color);
  color: #eee;
}

p {
  margin: 1.4rem 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.dark-mode a {
  color: #eee;
}

a:hover {
  color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.1;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

/* dark mode headings */
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
  color: #d6d6d6;
}

/* utility classes */
.mt-1 {
  margin-top: 0.4rem;
}

.mt-2 {
  margin-top: 1.6rem;
}

.mt-3 {
  margin-top: 2.5rem;
}

.text-center {
  text-align: center;
}

/* default button with primary color */
.button {
  display: block;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: var(--primary-color);
}

.button:hover {
  background-color: var(--secondary-color);
}

.hidden {
  display: none;
}

.muted {
  font-size: 0.9rem;
  color: #585858;
}

.dark-mode .muted {
  font-size: 0.9rem;
  color: #d6d6d6;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

/* alerts */
.alert {
  padding: 0.8rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

/*
    This is used to make video embeds responsive.
    Info: https://stackoverflow.com/questions/60164596/how-to-embed-youtube-iframe-video-100-full-width
*/
.embedded-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
}

.embedded-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* a simple icon button */
.icon-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-color);
  padding: 0;
  display: flex;
  align-items: center;
}

.dark-mode .icon-button {
  color: #eee;
}

.icon-button:hover {
  color: var(--secondary-color);
}

/* responsive container class for centering content and restricting its width */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 690px) {
  .container {
    max-width: 670px;
  }
}

@media (min-width: 984px) {
  .container {
    max-width: 956px;
  }
}

/* header styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0;
  z-index: 1000;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

.dark-mode .header {
  background-color: var(--primary-color);
}

/*
    make the header background transparent on the home page only, so
    it looks better with the hero
*/
.home .header {
  background-color: transparent;
}

/*
    hide the logo on the home page, there's already a logo in the hero
*/
.home .logo {
  opacity: 0;
}

.home .header a,
.home .header button,
.dark-mode .header a,
.dark-mode .header button {
  color: #fff;
}

.home .header a:hover,
.home .header button:hover {
  color: var(--secondary-color);
}

/* header background gets opaque on scroll */
.header.opaque {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.dark-mode .header.opaque {
  background-color: var(--primary-color);
}

.home .header.opaque a,
.home .header.opaque button {
  color: var(--primary-color);
}

.dark-mode .header.opaque a,
.dark-mode .header.opaque button {
  color: #ddd;
}

.home .header.opaque a:hover,
.home .header.opaque button:hover {
  color: var(--secondary-color);
}

/* show logo on home page when header is opaque */
.home .header.opaque .logo {
  opacity: 1;
}

/* mobile menu button */
.nav-toggle {
  display: block;
  position: relative;
  cursor: pointer;
}

.nav-links {
  display: none;
}

.nav-links.show {
  display: block;
}

.logo {
  width: auto;
  height: 2.2rem;
}

.menu-button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

.nav-icon {
  font-size: 1.8rem;
}

.main-nav {
  display: flex;
  gap: 1.6rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.nav-item-container {
  display: flex;
  /*
        reverse the order of the nav items on small screens
        so that the menu button is on the right for better UX
    */
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.8rem;
}

@media (min-width: 984px) {
  .nav-item-container {
    flex-direction: row;
    gap: 1.6rem;
  }
}

/* styles for mobile offcanvas nav that slides in */
.offcanvas-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 270px;
  height: 100vh;
  padding: 2rem;
  background-color: var(--primary-color);
  color: #fff;
  transform: translateX(100%);
}

.header .offcanvas-nav a,
.header .offcanvas-nav button,
.header.opaque .offcanvas-nav a,
.header.opaque .offcanvas-nav button {
  color: #fff;
}

.offcanvas-nav-links {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: right;
  align-items: flex-end;
}

.offcanvas-nav-item {
  text-transform: uppercase;
}

.offcanvas-nav .menu-button {
  color: #fff;
}

.offcanvas-nav.show {
  transform: translateX(0);
}

.offcanvas-nav-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@media (min-width: 984px) {
  .nav-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    font-weight: 600;
  }
}

.nav-item {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

.title-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/heroBanner.jpg");

  /* position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
}

/* main page hero styles */
.hero {
  width: 100vw;
  height: 60%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/heroBanner.jpg");

  /* position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.hero-logo {
  width: 100%;
}

.hero h1 {
  font-size: 20vw;
  margin: 0;
  text-shadow: 1px 12px 12px #00000047;
}

.hero p {
  font-size: 2rem;
  text-align: center;
}

.content-section {
  margin-top: 2rem;
}

/* footer classes */
footer {
  margin-top: 5rem;
  background-color: var(--primary-color);
  color: #fff;
  padding: 4rem 0;
  text-align: center;
}

/* show one column on small screens */
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: space-between;
}

/* show two columns on medium screens */
@media (min-width: 690px) {
  .footer-container {
    flex-direction: row;
  }
}

footer a {
  color: #fff;
}

/* center the footer content on small screens */
.left-footer-content {
  text-align: center;
}

/* align the footer content to the right on medium screens */
@media (min-width: 690px) {
  .left-footer-content {
    text-align: left;
  }
}

/* center the footer content on small screens */
.right-footer-content {
  text-align: center;
}

/* display social media links in a row */
.social-media-links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
}

/* align the footer content to the right on medium screens */
@media (min-width: 690px) {
  .right-footer-content {
    text-align: right;
  }

  .social-media-links {
    justify-content: flex-end;
  }
}

.social-media-icon {
  width: 32px;
  height: 32px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
}

/* home */
.news-item {
  margin-top: 1.8rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.4rem;
}

/* show image on the left on medium and above */
@media (min-width: 690px) {
  .news-item {
    flex-direction: row;
    align-items: flex-start;
  }
}

/* full width image on small screens */
.news-item-image {
  width: 100%;
  object-fit: contain;
}

/* and 30% width on medium and above */
@media (min-width: 690px) {
  .news-item-image {
    width: 30%;
  }
}

.news-item-details {
  flex-grow: 1;
}

/* remove margin on medium and above */
@media (min-width: 690px) {
  .news-item-details {
    margin-top: 0;
  }
}

/* shop */
/* mobile product grid, just a single column */
.product-grid {
  display: grid;
  column-gap: 1.4rem;
  row-gap: 2rem;
  grid-template-columns: repeat(1, minmax(0px, 1fr));
}

/* tablet product grid */
@media (min-width: 690px) {
  .product-grid {
    display: grid;
    column-gap: 3.6rem;
    row-gap: 2rem;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }
}

/* desktop product grid */
@media (min-width: 984px) {
  .product-grid {
    row-gap: 2.8rem;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
  }
}

/* show filters in a column on small screens */
.shop-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.4rem;
}

/* show filters in a row on medium screens and above */
@media (min-width: 690px) {
  .shop-filters {
    flex-direction: row;
    gap: 0.8rem;
  }
}

.product {
  padding-bottom: 1.4rem;
  border-bottom: 1px solid #ddd;
}

.product-image-container {
  padding: 1.4rem;
  max-width: 310px;
  /* center the image */
  margin: 0 auto;
}

.product-manufacturer {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

.product-name {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.product-image:hover {
  transform: scale(1.08);
}

.product-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.product-price {
  font-size: 1.2rem;
  font-weight: 600;
}

/* modals */
body.modal-open {
  overflow: hidden;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  /* use z-index to make sure the modal is on top of everything else */
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* fallback colour */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal-close-button {
  color: #fff;
  float: right;
}

/* Modal Header */
.modal-header {
  padding: 0.9rem 1.8rem 0.4rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem 0.5rem 0 0;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 0.9rem 1.8rem 1.8rem 1.8rem;
}

/* Modal Content */
.modal-content {
  border-radius: 0.5rem;
  position: relative;
  background-color: #fefefe;
  padding: 0;
  border: 1px solid #888;
  margin: 0.7rem;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* dark mode for modal */
.dark-mode .modal-content {
  background-color: var(--dark-mode-bg-color);
}

/* limit width and center modal on large screens */
@media (min-width: 984px) {
  .modal-content {
    margin: 1rem auto 1rem auto;
    width: 40%;
  }
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* forms */
.optional {
  color: #585858;
  font-size: 0.9rem;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.is-validated input:valid {
  border-color: #ddd;
}

.is-validated input:invalid {
  border-color: #d61709;
}

.is-validated textarea:invalid {
  border-color: #d61709;
}

/* checkout summary */
.checkout-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.checkout-item-image {
  width: 48px;
  height: 48px;
  object-fit: cover;
  margin-right: 1rem;
}

.checkout-item-name {
  font-weight: 600;
}

.checkout-item-quantity {
  font-size: 0.9rem;
  color: #585858;
}

.checkout-item-details {
  flex-grow: 1;
}

.checkout-item-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
}

.checkout-total {
  border-top: 2px dashed #ddd;
  padding: 0.8rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* classes for the cart icon's item count in the header */
.cart-item-count-badge {
  font-family: Poppins, sans-serif;
  position: absolute;
  right: -0.5rem;
  top: -1rem;
}

/* this is the actual badge */
.cart-item-count {
  font-size: 0.8rem;
  border-radius: 0.7rem;
  display: none;
  position: relative;
  color: #fff;
  background-color: #d61709;
  min-width: 12px;
  line-height: 1;
  padding: 0.2rem;
  text-align: center;
}

/* this is the class that makes the badge visible */
.cart-item-count.show {
  display: inline-block;
}

/* about us */
/* show one column on small screens */
.team-grid {
  display: grid;
  column-gap: 1.4rem;
  row-gap: 2rem;
  grid-template-columns: repeat(1, minmax(0px, 1fr));
}

/* show two columns on medium screens */
@media (min-width: 690px) {
  .team-grid {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }
}

/* show three columns on large screens */
@media (min-width: 984px) {
  .team-grid {
    grid-template-columns: repeat(3, minmax(0px, 1fr));
  }
}

.team-member-image {
  border-radius: 0.5rem;
}

.team-member-name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.team-member-position {
  font-size: 0.9rem;
  color: #585858;
}

/* dropzones */
.dropzone-grid {
  display: grid;
  column-gap: 1.4rem;
  row-gap: 2rem;
  grid-template-columns: repeat(1, minmax(0px, 1fr));
}

@media (min-width: 690px) {
  .dropzone-grid {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }
}

@media (min-width: 984px) {
  .dropzone-grid {
    grid-template-columns: repeat(3, minmax(0px, 1fr));
  }
}

.dropzone-card h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.dropzone-card {
  border-radius: 0.7rem;
  border: 1px solid #ddd;
}

.dropzone-card-body {
  padding: 1.4rem;
}

.dropzone-image-container {
  padding: 1.4rem;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  /* set background colour to grey so the logos with white text are visible */
  background-color: #d5d5d5;
}

.dropzone-image {
  /* center the image */
  margin: 0 auto;
  width: auto;
  height: 160px;
  object-fit: contain;
}

/*
    used to neatly line up the icons with the text, for example
    in the dropzone cards
*/
.with-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}

.dropzone-address {
  align-items: flex-start;
}

/* quick links on home page */
.quick-links {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

@media (min-width: 690px) {
  .quick-links {
    flex-direction: row;
  }
}

.quick-link-container {
  border-radius: 0.7rem;
  flex: 1;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 2rem;
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.quick-link-container:hover {
  background-color: var(--primary-color);
  transform: scale(1.08);
}

.quick-link-container a {
  color: #fff;
}

.quick-link-icon {
  display: block;
  font-size: 5rem;
  margin-bottom: 1rem;
}

/* articles */
.article {
  margin-top: 2.6rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 2rem;
}

.article-image {
  width: 100%;
  padding: 1.4rem;
  border: 1px solid #ddd;
}
